@import '../../../css/global.scss';

.l-services {
  &__category {
    @include font-general(14px, 1.36, 0.36px);
    height: 30px;
    padding: 0;
    cursor: pointer;
    /*  &._active {
      @include font-bold(14px, 2.07, 0.36px);
    } */

    &:hover,
    ._active {
      @include font-bold(14px, 2.07, 0.36px);
    }
  }

  &__description {
    @include font-general(11px, 1.55, 0.38px);

    &._mobile {
      margin-top: 10px;
      padding-bottom: 10px;
    }
    &._big {
      display: none;
    }
  }

  &__point {
    min-height: 70px;
    word-wrap: break-word;
    border-left: 2px solid #825aa9;
    padding-left: 30px;
    position: relative;

    &:last-child {
      border: none;
    }
  }

  &__list-style {
    position: absolute;
    margin-left: -16px;
    background: #825aa9;
    border-radius: 15px;
    border: 3px solid #825aa9;
    padding: 12px;
    left: 0;
  }

  &__horizon-line {
    width: 70px;
    border-top: 2px dashed #825aa9;
  }

  &__horizon-point-wrapper {
    position: absolute;
    top: 0;
    left: 500px;
  }

  &__horizon-point {
    position: relative;
    width: 400px;

    .l-services__list-style {
      position: initial;
      margin: 0 10px;
    }
  }

  @media (min-width: $breakpoint-tablet) {
    &__category {
      @include font-general(18px, 2.11, 0.46px);

      &:hover,
      ._active {
        @include font-bold(18px, 2.11, 0.46px);
      }
    }

    &__description {
      &._mobile {
        display: none;
      }
      &._big {
        display: block;
      }
    }
  }

  @media (min-width: $breakpoint-web) {
    &__category {
      @include font-general(24px, 1.67, 0.61px);

      &:hover,
      &._active {
        @include font-bold(24px, normal, 1.71px);
      }
    }

    &__description {
      &._mobile {
        display: none;
      }
      &._big {
        display: block;
      }
    }
  }
}

.l-double-points {
  &__points-wrapper {
    position: relative;
  }
}
