.c-lang-button {
  //@include font-general(20px, 1.57, 0.91px, center);
  width: 30px;
  height: 30px;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  border-image-source: linear-gradient(to right, #0ab4d3, #bf2c95);
  border-image-slice: 1;

  @media (min-width: $breakpoint-tablet) {
    width: 40px;
    height: 40px;
  }

  /*  @media (min-width: $breakpoint-web) {
    width: 60px;
    height: 40px;
  } */
}
