@import '../../css/global.scss';

.c-lang-button {
  @include font-general(14px, 1.57, 0.91px, center);
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border: double 2px transparent;
  border-radius: 80px;
  background-image: linear-gradient(#001a34, #001a34),
    radial-gradient(circle at top left, #0ab4d3, #bf2c95);
  background-origin: border-box;
  background-clip: content-box, border-box;

  &:hover {
    background-image: linear-gradient(transparent, transparent),
      radial-gradient(circle at top left, #0ab4d3, #bf2c95);
  }

  @media (min-width: $breakpoint-tablet) {
    @include font-general(16px, 1.57, 0.91px, center);
    width: 40px;
    height: 40px;
    top: 20px;
    right: 20px;
  }

  @media (min-width: $breakpoint-web) {
    @include font-general(18px, 1.57, 0.91px, center);
    width: 60px;
    height: 40px;
    top: 40px;
    right: 40px;
  }
}
