@import '../../css/global.scss';

.c-button {
  @include font-general(14px);
  width: 220px;
  height: 43px;
  cursor: pointer;
  border: double 2px transparent;
  border-radius: 80px;
  background-image: linear-gradient(#001a34, #001a34),
    radial-gradient(circle at top left, #0ab4d3, #bf2c95);
  background-origin: border-box;
  background-clip: content-box, border-box;

  &:hover {
    background-image: linear-gradient(transparent, transparent),
      radial-gradient(circle at top left, #0ab4d3, #bf2c95);
  }

  @media (min-width: $breakpoint-tablet) {
    width: 220px;
    height: 43px;
  }

  @media (min-width: $breakpoint-web) {
    width: 220px;
    height: 43px;
  }
}
