@import '../../../css/global.scss';

.l-clients {
  & a {
    text-decoration: none;
  }
  & a:link {
    color: #ffffff;
  }
  & a:visited {
    color: #ffffff;
  }
  & a:hover {
    color: #ffffff;
  }
  & a:active {
    color: #ffffff;
  }

  &__icons {
    margin: 60px 0;
  }
  &__icons-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: baseline;
    & > div {
      display: flex;
      justify-content: center;
      height: 44px;
    }
  }
  &__mts {
    flex-basis: 39%;
    margin-bottom: 62px;
    & > img {
      max-width: 86px;
    }
  }
  &__dme {
    flex-basis: 59%;
    & > img {
      max-width: 156px;
    }
  }
  &__stone-hedge {
    flex-basis: 48%;
    margin-bottom: 68px;
    & > img {
      max-width: 117px;
    }
  }
  &__megafon {
    flex-basis: 48%;
    & > img {
      max-width: 110px;
    }
  }

  &__carl {
    flex-basis: 20%;
    background: url('../../../images/carl.png') 50% 50% no-repeat;
    background-size: contain;
    height: 44px;
    height: 100%;
  }

  &__muztv {
    flex-basis: 20%;
    & > img {
      max-width: 44px;
    }
  }

  &__mgt {
    flex-basis: 20%;
    & > img {
      max-width: 44px;
    }
  }

  @media (min-width: $breakpoint-tablet) {
    &__icons {
      margin: 93px 0 80px;
    }
    &__icons-wrapper {
      & > div {
        height: 70px;
      }
    }
    &__mts {
      flex-basis: 25%;
      margin-bottom: 62px;
      order: -6;
      & > img {
        max-width: 117px;
      }
    }
    &__dme {
      flex-basis: 45%;
      order: -5;
      & > img {
        max-width: 263px;
      }
    }
    &__stone-hedge {
      flex-basis: 29%;
      & > img {
        max-width: 181px;
      }
    }
    &__megafon {
      flex-basis: 29%;
      & > img {
        max-width: 157px;
      }
    }

    &__carl {
      flex-basis: 20%;
      max-height: 70px;
      order: -3;
    }

    &__muztv {
      flex-basis: 20%;
      & > img {
        max-width: 70px;
      }
      order: -4;
    }

    &__mgt {
      flex-basis: 20%;
      & > img {
        max-width: 70px;
      }
    }
  }

  @media (min-width: $breakpoint-web) {
    &__icons {
      margin: 86px 0 90px;
    }
    &__icons-wrapper {
      & > div {
        height: 108px;
      }
    }
    &__mts {
      flex-basis: 25%;
      margin-bottom: 88px;
      order: -6;
      & > img {
        max-width: 181px;
      }
    }
    &__dme {
      flex-basis: 45%;
      order: -5;
      & > img {
        max-width: 404px;
      }
    }
    &__stone-hedge {
      flex-basis: 29%;
      //margin-bottom: 68px;
      & > img {
        max-width: 279px;
      }
    }
    &__megafon {
      flex-basis: 29%;
      & > img {
        max-width: 241px;
      }
    }

    &__carl {
      flex-basis: 20%;
      max-height: 108px;
      order: -3;
    }

    &__muztv {
      flex-basis: 20%;
      & > img {
        max-width: 108px;
      }
      order: -4;
    }

    &__mgt {
      flex-basis: 20%;
      & > img {
        max-width: 108px;
      }
    }
  }
}
