@mixin font-general(
  $size: 18px,
  $lineHeight: normal,
  $letterSpacing: normal,
  $textAlign: start,
  $color: #ffffff
) {
  font-family: Geometria;
  font-size: $size;
  line-height: $lineHeight;
  text-align: $textAlign;
  color: $color;
  letter-spacing: $letterSpacing;
}

@mixin font-extra-bold(
  $size: 18px,
  $lineHeight: normal,
  $letterSpacing: normal,
  $textAlign: start,
  $color: #ffffff
) {
  font-family: Geometria-ExtraBold;
  font-size: $size;
  line-height: $lineHeight;
  text-align: $textAlign;
  color: $color;
  letter-spacing: $letterSpacing;
}

@mixin font-bold(
  $size: 18px,
  $lineHeight: normal,
  $letterSpacing: normal,
  $textAlign: start,
  $color: #ffffff
) {
  font-family: Geometria-Bold;
  font-size: $size;
  line-height: $lineHeight;
  text-align: $textAlign;
  color: $color;
  letter-spacing: $letterSpacing;
}

@mixin font-input(
  $size: 13px,
  $lineHeight: normal,
  $letterSpacing: normal,
  $textAlign: start,
  $color: #777d81
) {
  font-family: Avenir-Roman;
  font-size: $size;
  line-height: $lineHeight;
  text-align: $textAlign;
  color: $color;
  letter-spacing: $letterSpacing;
}

@mixin font-medium(
  $size: 13px,
  $lineHeight: normal,
  $letterSpacing: normal,
  $textAlign: start,
  $color: #ffffff
) {
  font-family: Geometria-Medium;
  font-size: $size;
  line-height: $lineHeight;
  text-align: $textAlign;
  color: $color;
  letter-spacing: $letterSpacing;
}
