$text-color: #1b1e2d;
$bold-text-color: #1a1a1a;
$link-text-color: #e16a49;
$white-text-color: #f7f7f7;
$mailing-bg-color: #69268c;
$mailing-text-color: #fad100;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 760px;
$breakpoint-web: 1280px;
